body {
    background: black;
}

.clock {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    font-size: 180px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 7px;
}
